<h1>Welcome, <%= current_user.first_name %></h1>

<ul>
  <% current_user.songs.each do |song| %>
  <li><%= song.artist %> '<%= song.title %>' </li>
  <% end %>
</ul>

<%= link_to 'Songs', songs_path %>


