<div class="index-container"> 
	<div class="loginform">
		<h2 class="signin">Edit Song</h2>

		<%= render 'form' %>

		<div class="text-center subform">
			<%= link_to 'Show', @song %> | <%= link_to 'Back', songs_path %>
		</div>
	</div>
</div>