<div class="index-container">
	<div class="loginform">
		<h2 class="signin">New Song</h2>

		<%= render 'form' %>

		<div class="text-center subform">
			<%= link_to 'Back to Song List', songs_path %>
		</div>
	</div>
</div>