/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html { 
	background: asset_url('background.jpg');
}
/* BODY begin */
body {
	width: 70%;
	margin: 0 auto;
	font-size: 1.7em;
	background: transparent;
	font-family: 'Josefin Sans', sans-serif;
}

a:link {
	text-decoration: none;
	background: none;
}
/* BODY end*/

/* NAVBAR begin*/
ul.navgbar {
	list-style-type: none;
	margin: 0 auto;
	background: #A30C50;
	padding: 1%;
	li {
		display: inline;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.4em;
		color: black;
		padding: 1%;
	}
	a {
		color: #D1D1D1;
		font-weight: bold;
		padding: 4px;
	}
	a:hover {
		background: rgba(0,0,0,.2);
	}
}
/* NAVBAR end */

/* HEADING begin */
h1.heading {
	padding: 2%;
	border: 1px solid #A30C50;
	border-radius: 10px;
	font-family: 'Luckiest Guy', cursive;
	font-size: 4em;
	text-shadow: 2px 2px 2px #A30C50;
	background: rgba(0,0,0,.2);
}
.monday {
	font-family: 'Satisfy', cursive;
	text-shadow: none;
}
/* HEADING end */

/* LOGIN/SIGNUP PAGE begin */

.signin {
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	color: #A30C50;
}
.row {
	margin-bottom: 3%;
}
.subform {
	text-align: center;
}
.subform .btn {
	background: #A30C50;
	color: white;
	width: 20%;
	font-size: 1.3em;
}
.subform .btn:hover {
	box-shadow: 2px 2px 2px gray;
}
.subform a {
	font-weight: bold;
	color: black;
}
.subform a:hover {
	color: #A30C50;
}
.resetpword {
	text-align: center;
}
.resetpword .btn {
	background: #A30C50;
	color: white;
	font-size: 1.3em;
}
/* LOGIN/SIGNUP PAGE end */

/* INDEX CONTAINER begin */
.index-container {
	width: 100%;
	padding: 2% 0;
	margin: 1% auto;
	background: white;
	border: 1px solid #A30C50;
	border-radius: 10px;
}
/* INDEX CONTAINER end */

/* LOGINFORM class begin */
.loginform {
	width: 60%;
	margin: 0 auto;
	padding: 2% 0;
	background: #D1D1D1;
}
/* LOGINFORM end */

/* INDEX TABLE begin */
.index-table {
	width: 90%;
	margin: 0 auto;
}
.index-table th {
	font-size: 1.6em;
	padding-left: 4%;
	font-family: 'Josefin Sans', cursive;
	font-weight: bold;
}
.sortable a {
	color: #A30C50;
}
.index-table th .current {
  	text-shadow: 1px 1px 1px black;
}
.index-table th .asc {
	color: #A30C50;
}
.index-table th .desc {
	color: #A30C50;
}
.index-table-heading {
}
.index-table tr {
	border-bottom: 1px solid #D1D1D1;
}
.index-table td {
	padding: 2%;
	padding-left: 4%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
}
.song-link a {
	color: black;
	font-style: italic;
}
.song-link a:hover {
	color: #A30C50;
}
.fa-star {
	color: orange;
	text-shadow: 2px 2px 2px black;
}
/* INDEX TABLE end */

.song-title {
	color: #A30C50;
}

/* FOOTER begin */
footer {
	background: #A30C50;
	color: #D1D1D1;
	text-align: center;
	padding: 1%;
}
/* FOOTER end */

/* ERRORS begin */
#error_explanation {
	border-radius: 10px;
	background: rgba(255,0,0, .2);
	color: red;
	margin: 2% auto;
	h2 {
		text-transform: uppercase;
		text-align: center;
		background: red;
	}
	ul {
		li {
			list-style: none;
			text-align: center;
			font-weight: bold;
		}
	}
}
.field_with_errors {
	padding: 0;
	background: rgba(255,0,0, .2);
	width: 90%;
	margin: 1% auto;
	border: 1px solid red;
}
/* ERRORS end */